Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Config/DefaultObjectStorageSettings.ini

# Rider IDE auto generated folder 
.idea

# Auto generated VS config file
.vsconfig
/*.ipch
/Config/DefaultUnlimitedDetail.ini
